html {
    font-size: 62.2%;
}

.it-work {
    font-size: 2rem !important;
    margin-top: 1.5rem;
    padding: 1rem 2.7rem 1rem 2.5rem;
    background-color: #1d3270;
    color: white;
}

.weUnderstand {
    /* line-height: 6vh; */
    font-size: 3vw !important;
    /* padding-top: 20vh !important; */
    font-style: bold !important;
    padding-left: 6vw !important;
}

.weUnderstand1 {
    /* padding-right: 4rem !important; */
    /* padding-left: 13vw; */
    /* padding-top: 18vh !important; */
}

@media only screen and (max-width: 600px) {
    .weUnderstand {
        font-size: 2.6rem !important;
        text-align: center;
        padding-left: 1rem !important;
        padding-top: 4vh !important;
        font-style: bold;
        padding-right: 0rem !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 2.8rem;
    }

    .weUnderstand1 {
        /* padding-left: 4.9rem;
        padding-right: 5.7rem;
        padding-top: 8vh !important; */
    }

    .it-work {
        font-size: 1.5rem !important;
        margin-top: 1.7rem;
        border-radius: 18px;
    }
}
